## Exploratory Data Analysis I

Let's begin our analysis by exploring both the univariate and bivariate characteristics of this dataset. The general goals of this step include: 

* finding outliers & distributions through univariate visualizations
* finding trends & patterns through bivariate visualizations

When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part1.md` file and answer the questions located underneath `Exploratory Data Analysis II` in your own words.

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# TODO: load `data/raw/shopping.csv` as a pandas dataframe
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

df = pd.read_csv("../data/raw/shopping.csv")

In [3]:
# TODO: print out the first 5 rows for display
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html

df.head()

,Customer ID,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,3475,NaN,Male,Jacket,30.904467,Maine,M,Burnt orange,Fall,4.0,Standard,No,0,Credit Card,NaN
1,3698,21.0,Female,Backpack,31.588259,NaN,L,Turquoise,Winter,2.0,Express,No,1,Credit Card,Monthly
2,2756,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card,NaN
3,3340,NaN,Male,Pajamas,33.918834,Nebraska,M,Black,Winter,NaN,Standard,No,2,Credit Card,Bi-Weekly
4,3391,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,NaN,Standard,No,0,Credit Card,NaN

In [4]:
# TODO: Print out summary statistics for all numeric columns
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3510.000000,3900.000000,1431.000000,3900.000000
mean,1950.500000,34.256695,38.708329,3.904962,5.841538
std,1125.977353,10.616340,11.504923,1.105952,5.843695
min,1.000000,18.000000,11.392520,1.000000,0.000000
25%,975.750000,26.000000,29.332617,4.000000,1.000000
50%,1950.500000,33.000000,36.953004,4.000000,4.000000
75%,2925.250000,41.000000,48.739596,5.000000,9.000000
max,3900.000000,75.000000,69.567481,5.000000,20.000000

## Univariate Analysis

Let's generate visualizatons for each numeric variable to get an idea of the outliers & distributions present in our dataset.

In addition, let's also visualize the frequency-count of qualitative variables to get an understanding of the composition of our dataset.

In [ ]:
# TODO: plot a seaborn histogram for the "Age" column
# Documentation: https://seaborn.pydata.org/generated/seaborn.histplot.html

...

In [ ]:
# TODO: plot a seaborn histogram for the "Purchase Amount (USD)" column

...

In [ ]:
# TODO: plot a seaborn histogram for the "Review Rating" column

...

In [ ]:
# TODO: plot a seaborn histogram for the "Previous Purchases" column

...

In [ ]:
# TODO: count the frequency of unique values in the "Gender" column, save this value into a new dataframe named "gender_counts"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html

...

In [ ]:
# TODO: plot a matplotlib barplot for the gender_counts dataframe
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.bar.html

...

In [ ]:
# TODO: count the frequency of unique values in the "Season" column, save this value into a new dataframe named "season_counts"

...

In [ ]:
# TODO: plot a matplotlib barplot for the season_counts dataframe

...

In [ ]:
# TODO: count the frequency of unique values in the "Shipping Type" column, save this value into a new dataframe named "ship_counts"

...

In [ ]:
# TODO: plot a matplotlib barplot for the shipping_counts dataframe

...

In [ ]:
# TODO: count the frequency of unique values in the "Promo Code Used" column, save this value into a new dataframe named "promo_counts"

...

In [ ]:
# TODO: plot a matplotlib barplot for the promo_counts dataframe

...

In [ ]:
# TODO: count the frequency of unique values in the "Payment Method" column, save this value into a new dataframe named "pay_counts"

...

In [ ]:
# TODO: plot a matplotlib barplot for the pay_counts dataframe

...

In [ ]:
# TODO: count the frequency of unique values in the "Frequency of Purchases" column, save this value into a new dataframe named "purch_counts"

...

In [ ]:
# TODO: plot a matplotlib barplot for the purch_counts dataframe

...

In [ ]:
# TODO: count the frequency of unique values in the "Location" column, save this value into a new dataframe named "loc_counts"

...

In [ ]:
# TODO: plot a horizontal barplot for the loc_counts dataframe
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.barh.html
# Hint: resize the figure using "plt.figure(figsize=(10,10))" to "unsquish" your visualization

...

## Bivariate Analysis

Let's generate visualizatons for relationships between multiple numeric variables to get an idea of patterns and clusters that might be present in our dataset.

In [ ]:
# TODO: Create a boxplot that reveals the range of "Purchase Amount (USD)" for each "Gender" 
# Documentation: https://seaborn.pydata.org/generated/seaborn.boxplot.html

...

In [ ]:
# TODO: Create a boxplot that reveals the range of "Purchase Amount (USD)" for each "Season" 
# Documentation: https://seaborn.pydata.org/generated/seaborn.boxplot.html

...

In [ ]:
# TODO: Create a boxplot that reveals the range of "Purchase Amount (USD)" for each "Review Rating" 
# Documentation: https://seaborn.pydata.org/generated/seaborn.boxplot.html

...

In [ ]:
# TODO: Create a boxplot that reveals the range of "Purchase Amount (USD)" for each "Promo Code Used" 
# Documentation: https://seaborn.pydata.org/generated/seaborn.boxplot.html

...

In [ ]:
# TODO: Create a boxplot that reveals the range of "Payment Method" for each "Purchase Amount (USD)"
# Documentation: https://seaborn.pydata.org/generated/seaborn.boxplot.html

...

In [ ]:
# TODO: plot a grid of diagrams on all numeric columns where the upper-half of the grid are scatter-plots
# the bottom-half are kde-plots
# and the diagonal is a histplot
# Documentation: https://seaborn.pydata.org/tutorial/axis_grids.html
# Hint: This might take a few seconds to load
# Hint: to read the kde diagrams in the bottom-half check out https://www.greenbelly.co/pages/contour-lines

...

## Exploratory Data Analysis II

In the next section, answer a few questions regarding your dataset using the visualizations you've generated.

### Q1

Which state contains the most amount of shoppers? Which state contains the least?

Answer here

### Q2

Which season has the largest amount of purchases?

Answer here

### Q3

What is the most popular form of payment for our customers in the US? What is the least popular form of payment?

Answer here

### Q4

What is the most popular form of shipping for our customers in the US? What is the least popular form of shipping?

Answer here

### Q5

What kind of distribution do we observe for our `Age` column? What does this tell us about the typical shopper in the US?

Answer here

### Q6

What kind of distribution do we observe for our `Purchase Amount (USD)` column? Why might this be? Take a look at the boxplots that you've generated to help answer this question.

Answer here